.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 237px;
  box-sizing: border-box;
  width: 100%;
  background: #FFE68B;
  margin-bottom: 14px;
}

.link {
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 28px 0 rgba(34, 60, 80, 0.22);
  background-color: #f9b448;
  border-radius: 15px;
  padding: 10px 20px;
  align-self: center;
  text-wrap: nowrap;

  &:hover {
    text-decoration: none;
    background-color: #ffcb79;
    transition: all;
    transition-duration: 200ms;
  }
}